.container{
    background-color: blueviolet;
    width: 100%;
    display: flex;
    
}
.title{
    color: rgb(255, 0, 0);
}
.text{
    color: blue;
}
.cardBody{
    text-align: center;  
}
.img{
    padding: 5px;
    width: 100%;
    height: 200px;
}